<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Monitor</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="static/style.css">

    <!-- To display open street maps (OSM) -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
    <audio id="alertSound" src="static/alert.mp3" preload="auto"></audio>
    <div id="alert" class="hidden">⚠️ Alert: Critical Health Parameters! ⚠️</div>
    <h1>Health Monitoring Dashboard</h1>
    <div>
        <p>Heartbeat: <span id="heartbeat">--</span> bpm</p>
        <p>Oxygen Level: <span id="oxygen">--</span>%</p>
    </div>
    <div>
        <canvas id="statsChart" width="600" height="200"></canvas>
    </div>
    <div id="map" style="height: 500px;"></div>

    <script src="static/script.js" defer></script>
</body>
</html>
